<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Docparser</title>
    </head>
    <body>
        <h1> Upload a business document</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>

        {% if uploaded %}
            <h2>Extracted Text:</h2>
            {% if error %}
                <p style="color: red;">Error: {{ error }}</p>
            {% else %}
                <pre style="white-space: pre-wrap;">{{ text }}</pre>
            {% endif %}
        {% endif %}
        {% if genai_output %}
            <h2>Generated Output:</h2>
            <pre style="white-space: pre-wrap;">{{ genai_output }}</pre>
        {% endif %}
    </body>
</html>